docker{
    enabled=true
}

process{
    withName:fastqDump{
        container="evolbioinfo/sratoolkit:v2.10.8"
    }
}

process{
    withName: createGenomeIndex{
        cpus=16
        container="evolbioinfo/star:v2.7.6a"
    }
}

//placer cpus 16 et memory = 40G dans le process concerné

process{
	withName: mapping{
		cpus=16
		memory=40000000000
		container="evolbioinfo/star:v2.7.6a"
	}
}
process{
	withName: samtools{
		container="evolbioinfo/samtools:v1.11"
	}

}

process{
	withName:featureCounts{
		container="evolbioinfo/subread:v2.0.1"	
	}
}





process{
	withName: Deseq2{
		container="evolbioinfo/deseq2:1.28.1"
	}
}
