docker{
    enabled=true
}

process{
    withName:SRA{
        container="evolbioinfo/sratoolkit:v2.10.8"
    }
}

process{
    withName: createGenomeIndex{
        container="evolbioinfo/star:v2.7.6a"
    }
}

process{
	withName: mapping{
		container="evolbioinfo/star:v2.7.6a"
	}
}
process{
	withName: samtools{
		container="evolbioinfo/samtools:v1.11"
	}

}

process{
	withName:read_count{
		container="evolbioinfo/subread:v2.0.1"	
	}
}





process{
	withName: Deseq2{
		container="evolbioinfo/deseq2:1.28.1"
	}
}

